* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
    width: 100vw;
}

.left-sidebar {
    display: grid;
    align-content: start;
    gap: 50px;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 15px 30px;
    background-color: #0ea5e9;
    color: #ffffff;
}

.left-sidebar > .dashboard-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.dashboard-title > .dashboard-logo-text {
    font-size: 24px;
    font-weight: 700;
}

.dashboard-title > .dashboard-logo {
    width: 50px;
    filter: invert(100%);
}

.left-sidebar > .left-sidebar-nav-1,
.left-sidebar > .left-sidebar-nav-2 {
    display: grid;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
}

.left-sidebar .side-nav-menu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.left-sidebar .side-nav-menu .side-nav-icon {
    width: 20px;
    filter: invert(100%);
}


.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    background-color: #f0f9ff;
    padding: 5px 30px;
    box-shadow: 0px 2px 15px #00000020;
}

.header > .header-top {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.header-top > .search-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto minmax(100px, 1fr);
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.search-container > .search-icon {
    width: 30px;
}

.search-container > #search {
    /* width: clamp(30ch, 50vw + 20px, 160ch); */
    width: 100%;
    height: 40px;
    padding: 3px 15px;
    background-color: #E2E8F0;
    outline: none;
    border: none;
    border-radius: 20px;
}

.header-top > .profile-options {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}

.profile-options > .notification-button {
    width: 30px;
    height: 30px;
}

.notification-button > .notification-icon {
    width: 100%;
}

.profile-options > .profile-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-button > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-options > .profile-name > a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.header > .header-bottom {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.header-bottom > .profile-greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
}

.profile-greeting > .profile-picture {
    align-self: center;
    height: 80px;
    width: 80px;
    grid-column: 1;
    grid-row: 1 / -1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture > img {
    width: 100%;
    object-fit: cover;
}

.profile-greeting > .greet {
    align-self: end;
}

.profile-greeting > .username-display {
    font-size: 24px;
    font-weight: 700;
}

.header-bottom > .project-options-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}

.project-options-container > .project-option {
    display: grid;
    place-content: center;
    width: 80px;
    height: 30px;
    font-weight: 700;
    background-color: #0ea5e9;
    color: #ffffff;
    border-radius: 15px;
}


.main-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #E2E8F0;
    padding: 20px;
    z-index: -1;
}

.main-content > .content-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-content > .content-area > .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
}

.project-list > .project-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 20px;
    align-content: start;
    border-left: 5px solid #F1C04F;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #00000020;
}

.project-list > .project-card > .card-image-container {
    grid-row: 1 / -1;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.project-list > .project-card > .card-image-container > img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-list > .project-card > .project-options {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-self: end;
}

.project-options > :is(.favorite, .watchlist, .fork) {
    width: 20px;
    height: 20px;
}

.main-content > .right-sidebar {
    display: grid;
    align-content: start;
    gap: 20px;
}

.right-sidebar :is(.announcement-list, .trending-list) {
    box-shadow: 0px 5px 15px #00000020;
}

.right-sidebar .announcement-list {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.announcement-list p {
    height: 3lh;
    overflow: hidden;
}

.announcement-list > .separator {
    border-top: 1px solid lightgrey;
    margin: 10px 0;
}

.right-sidebar .trending-list {
    display: grid;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.trending-list > .trend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
}

.trend > .user-profile-image-container {
    grid-column: 1;
    grid-row: 1 / -1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-profile-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trend > .username {
    font-size: 18px;
    font-weight: 500;
}

.section-title {
    margin-bottom: 10px;
}